        <!-- contact form start -->
        <section id="contact-form">
          <div class="container">
            {% include contact-form.html %}
            <div id="contact-box" class="row">
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  {% include subpage-contact-information.html %}

                  {% include subpage-social-icons.html %}
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  {% include subpage-google-map.html %}
                </div>
              </div>
            </div>
          </div>
        </section>